.item {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 5px;
  background-color: #fff;
  width: 60%;
  height: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-done {
  position: absolute;
  top: 5px;
  left: 8px;
}

.item-remove {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 0px;
  background-color: none;
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}

.item-remove::before {
  content: "x";
}

.item-close {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 0px;
  background-color: none;
  color: green;
  font-weight: bold;
  font-size: 1.2rem;
}

.item-close::before {
  content: "o";
}

.input {
  border: none;
  outline: none;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
